SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=
REDIRECT_PORT=17892
DB_PATH=./data/migrate.sqlite
USER_AGENT=soundcloud-migrate-cli/0.1.0
SLEEP_MS=900
SC_SOURCE_USERNAME=
SC_SOURCE_PASSWORD=
SC_TARGET_USERNAME=
SC_TARGET_PASSWORD=
